
.signin {
    flex: 1;
    background-color: #12002b;
    &__content {
        box-sizing: border-box;
        background-color: white;
        width: 300px;
        margin: 0 auto;
        margin-top: 3rem;
        padding: 2rem;
        &--icon {
            font-size: 5rem;
        }
        &--error {
            background-color: #eb646a;
            color: #ffffff;
            padding: 12px;
            border-radius: 3px;
        }
        &--wrapper {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 1rem;
            label {
                font-weight: bold;
            }
            input {
                padding: 5px;
                font-size: 1.2rem;
            }
        }
        &--remember {
            display: flex;
        label {
            margin-left: 0.25rem;
        }
        }
        &--btn {
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            border-color: #00bc77;
            background-color: #00bc77;
            color: #fff;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    
}