.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    &__logo {
        display: flex;
        align-items: center;
        &--image {
            max-width: 100%;
            width: 200px;
        }
    }
    &__connected {
        font-weight: bold;
        color: #42b983;
        text-decoration: none;
        margin-right: 0.5rem;
        &:hover {
            text-decoration: underline;
        }
        &--icon {
            margin-right: 6px;
        }
    }
    &__item {
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
        margin-right: 0.5rem;
        &:hover {
            text-decoration: underline;
        }
        &--icon {
            margin-right: 6px;
        }
    }
    @media (min-width: 720px) {
        flex-direction: row;
    }
}
