.error {
    font-size: 200px;
    margin-bottom: 24px;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &--message {
            font-size: 30px;
        }
        &--text {
            font-size: 18px;
        }
        &--btn {
            background-color: #42b983;
            color: #ffffff;
            font-weight: bold;
            text-decoration: none;
            padding: 16px;
            margin-bottom: 150px;
            width: 200px;
            border-radius: 4px;
            &:hover {
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }
    }
    
}